/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 ul#categories {
 	margin: 35px 0;
	padding: 0;
	font: 12px Verdana;
	list-style-type: none;
 }

 ul#categories li {
 	display: inline;
 	color: #0000FF
 }

 ul#categories li a {
 	padding: 5px 10px;
	border: 1px solid #aaa;
	background-color: #eee;
	color: #0000FF;
	text-decoration: none;
 }

 ul#categories a:hover {
 	background: #fff;
	color: #0000FF;
 }

 ul#categories li.current a {
 	border:1px solid #777;
 }

